/*adding background colour to the body*/
body {
  background-color: rgb(166, 205, 232);
}

/*removing bullet point*/
ul {
  list-style: none;
}

/*aligning the heading to the center*/
.heading {
  text-align: center;
}

/*arranging the pokemon in rows and coloum*/
.row {
  display: flex;
}

.column {
  flex: 33.33%;
  padding: 5px;
}
