/*adding background colour to the body*/
body {
  background-color: rgb(166, 205, 232);
}

/*removing bullet point*/
ul {
  list-style: none;
}

/*aligning the heading to the center*/
.heading {
  text-align: center;
}

/* Three image containers (use 25% for four, and 50% for two, etc) */
.horizontal {
  float: left;
  width: 24%;
  padding: 5px;
}

/* Clear floats after image containers */
.vertical::after {
  content: "";
  clear: both;
  display: table;
}
